<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :sequence %>
    <%= f.input :description %>
    <%= f.input :name %>
    <%= f.input :priority %>
    <%= f.input :event_datetime %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
