<p id="notice"><%= notice %></p>

<p>
  <strong>Sequence:</strong>
  <%= @event.sequence %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @event.priority %>
</p>

<p>
  <strong>Event datetime:</strong>
  <%= @event.event_datetime %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
